# created by virtualenv automatically
/ninna
/apps/cadastrar_eventos/__pycache__
/apps/cadastrar_eventos/migrations/__pycache__
/core/__pycache__
/apps/usuarios/__pycache__
/apps/usuarios/migrations/__pycache__
/apps/enviar/__pycache__
/apps/enviar/migrations/__pycache__
/.idea
/.vscode
/apps/abstrair/__pycache__
/apps/arquivo_excel/__pycache__
/apps/arquivo_excel/migrations/__pycache__
/users
__pycache__/
*.pyc