/* Importanto font do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset Css */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Header */

.wrapper-hero {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/fundo.jpeg) fixed;
}

.wrapper-hero__navigation {
    display: flex;
    justify-content: flex-end;
}

.wrapper-hero__navigation a {
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
}

/* Container Login */

.wrapper-login {
    background: #00257A;
    height: 100vh;
    padding: 100px 0;
}
.wrapper-formulario {
    margin: 0 auto;
    padding: 20px;
    width: 400px;
    border-radius: 15px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.wrapper-login__logo {
    width: 200px;
    margin: 0 auto;
}

.wrapper-login__form {
    display: flex;
    flex-direction: column;
}

.wrapper-login__form--label {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 4px;
}

.wrapper-login__form--input {
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #00000032;
    font-size: 16px;
}

.wrapper-login__form--button {
    padding: 10px;
    cursor: pointer;
    background: #00257A;
    font-weight: 700;
    color: #FFF;
    border: none;
    font-size: 15px;
    width: 25%;
    text-align: center;
    text-decoration: none;
    align-self: flex-end;
}

/* Container card */

.wrapper-container__events {
    padding: 40px 2rem;
    display: flex;
    justify-content: space-around;
}

.eventos__card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.events__card--date span{
    border-radius: 15px;
    color: #FFF;
    background: #00257A;
    padding: 6px;
    width: 100%;
}

.events__card--description p {
    text-align: justify;
}

.events__card--button a {
    border-radius: 25px;
    color: #FFF;
    background: #00257A;
    padding: 10px;
    text-decoration: none;
}

/* Container View Events */

.wrapper-container {
    height: 100vh;
    background: linear-gradient(to bottom, #00257A 40%, #00257A 30%, #FFF 30%, #FFF 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.wrapper-container__logo {
    width: 200px;
    margin: 10px auto;
}

.wrapper-container__event-banner {
    width: 300px;
}

.wrapper-container__event-info {
    width: 900px;
    margin: 0 auto;
    background: #F3F3F3;
    padding: 20px;
    border: 1px solid #00000032;
    border-radius: 20px;
    margin-bottom: 40px;
}

.wrapper-container__event-info--button {
    background: #00257A;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
}

/* Container footer */

.wrapper-footer p {
    margin: 10px 0;
    text-align: center;
}