{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/formAvalicao.css' %}">
</head>

<body>
    <header>
        <div class="divisao-1">
            
            <div class="divisao-2">
                <img src="{% static 'img/NINNA AZUL (1).png' %}" >
                <h2>Formulario de Avaliação</h2>
                <form action="">
                    <label>Você confirma sua presença no evento X?</label>
                    <div class="radio">
                        <input type="radio" value="" name="box1">
                        <label for="" name="box1">Sim</label>
                        <input type="radio" value="" name="box1">
                        <label value="" name="box1">Não</label>
                    </div>

                    <label class="texto">De 5 a 10 - Qual sua avaliação do evento?</label>
                    <div class="radio">

                        <input type="radio" value="" name="box2"><label>5</label>
                        <input type="radio" value="" name="box2"><label>6</label>
                        <input type="radio" value="" name="box2"><label>7</label>
                        <input type="radio" value="" name="box2"><label>8</label>
                        <input type="radio" value="" name="box2"><label>9</label>
                        <input type="radio" value="" name="box2"><label>10</label>
                    </div>

                    <label>Deixe aqui alguma sugestão ou elogio</label><br>
                    <textarea name="" id="" cols="50" rows="10"></textarea>

                    <button>Enviar</button> 
                </form>
            </div>
        </div>
    </header>
</body>

</html>