
{% extends 'base.html'%}
{% load static %}
{% block content %}

    <div class="wrapper-login">
        <div class="wrapper-formulario">
            <img src="{% static 'img/NINNA AZUL (1).png' %}" class="wrapper-login__logo" alt="">
            <form action="" class="wrapper-login__form" method='POST'>
                {% csrf_token %}
                <label for="user" class="wrapper-login__form--label">User</label>
                <input type="text" class="wrapper-login__form--input" oninput="this.value = this.value.replace(/[^A-Za-z0-9.@]/g, '')" name="user" id="user">
    
                <label for="password" class="wrapper-login__form--label">Password</label>
                <input type="password" class="wrapper-login__form--input" name="password" id="password">
    
                <a href="eventos.html" class="wrapper-login__form--button" onclick="exibirCriarConta()">Entrar</a>
            </form>
        </div> 
    </div>

    <script>
        function exibirCriarConta()
        {
             location.href = "{% url 'cadastro' %}";
        } 
    </script>

{% endblock content%}