{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="wrapper-container">
        <img src="{% static 'img/NINNA CINZA (1).png' %}" class="wrapper-container__logo" alt="">
        <div class="wrapper-container__event-info">
            <img src="{% static 'img/banner.jpg' %}" class="wrapper-container__event-banner" alt="">
            <h2 class="wrapper-container__event-info--title"> Name Event </h2>
            
            <div class="wrapper-container__event">
                <p class="wrapper-container__event-info--data">Data: 15/07</p>
                <p class="wrapper-container__event-info--hora">Hora: 16:00</p>
            </div>
            
            <div class="wrapper-container__event-info--description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non distinctio, laboriosam dolorem exercitationem cum, esse sunt inventore quo a minus unde ratione excepturi voluptas quod architecto autem saepe voluptatibus eligendi!
            </div>
            <button class="wrapper-container__event-info--button">Inscrever-se</button>
        </div>
    </div>
    {% endblock content %}
