{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NINNA || EVENTOS</title>

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsivo.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style-saiba_mais.css' %}">
    <script src="https://kit.fontawesome.com/dfcc59a893.js" crossorigin="anonymous"></script>
    
</head>
<body>
    {% block content %} {% endblock %}
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>