{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuario</title>

    <link rel="stylesheet" href="{% static 'assets/css/cadastroUsuario1.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    

</head>
<body>
    
    <div style="width: 600px;" class="wrapper-login">
        <form action="{% url 'cadastro_empresa' %}" class="wrapper-login__form" method="post">
            <div class="saida-eventos">
                <a href="{% url 'login' %}"> Fechar </a>
            </div>
            {% csrf_token %}
            <img src="{% static 'assets/img/NINNA AZUL (1).png' %}" alt="" class="wrapper-login__form--logo">
            <h1>Cadastro</h1>
            {% include 'messages/alertas.html' %}
            <div class="wrapper-login__form--user">
                <label for="user">Categoria</label>
                <select id="seletor" style="padding: 12px; border-radius: 10px;" name="categoria" onchange="javascript:verificaSeletor(this);">
                    
                    <option value="Empresa">Empresa</option>
                    <option value="Mantenedores">Mantenedores</option>
                    <option value="ADM">Administração</option>

                </select>
            </div>
            
            <div id="senha_adm" class="wrapper-login__form--password">
                <label for="password">Senha de ADM</label>
                <input style="border-radius: 10px;" type="password" name="password-admin" class="form-input input-password" id="password">
            </div>
            <div class="wrapper-login__form--user">
                <label for="user">Nome da Empresa ou Nome de ADM</label>
                <input style="border-radius: 10px;" type="text" name="nome_empresa" class="form-input input-user" id="user">
            </div>

            <div class="wrapper-login__form--user">
                <label for="user">Telefone da Empresa</label>
                <input style="border-radius: 10px;" type="text" name="telefone" class="form-input input-user" id="user">
            </div>

            <div class="wrapper-login__form--user">
                <label for="user">Seu nome</label>
                <input style="border-radius: 10px;" type="text" name="nome" class="form-input input-user" id="user">
            </div>

            <div class="wrapper-login__form--user">
                <label for="user">Email da Empresa</label>
                <input style="border-radius: 10px;" type="email" name="email" class="form-input input-user" id="user">
            </div>

            <div class="wrapper-login__form--password">
                <label for="password">Senha</label>
                <input style="border-radius: 10px;" type="password" name="password" class="form-input input-password" id="password">
            </div>

            <div class="wrapper-login__form--button">
                <button style="border-radius: 10px;" type="submit" class="form-submit">Cadastrar</button>
            </div>
        </form>
    </div>
    <script>
        adm = document.querySelector('#senha_adm')
        adm.style.display = 'none'
        function verificaSeletor(){
            adm = document.querySelector('#senha_adm')
            seletor = document.querySelector('#seletor')
            nome = seletor.value

            if(nome == 'ADM'){
                console.log(nome)
                adm.addEventListener("click", adm.style.display = 'inline', false)
            }else{
                adm.addEventListener("click", adm.style.display = 'none', false)
            }
        }
    </script>
    
</body>
</html>