{% extends 'base.html' %}
{% load static %}
{% block content %}
{{lista_eventos}}

    <div class="menu">
        <a href="{% url 'index' %}">
          <img src="{% static 'assets/img/logo.png' %}" class="hero-logo" alt=""> 
        </a>
         
        {% include 'menu.html' %}
    </div>

    <main class="principal">
        {% if user.groups.all.0.name == 'Usuarios Comuns' or user.groups.all.0.name == 'Mantenedores' %}
            <h1 class="principal__titulo"> Eventos Inscritos </h1>
        {% else %}
            <h1 class="principal__titulo"> Seus eventos cadastrados </h1>
        {% endif %}
        <div class="container__caixa">
            {% for evento in eventos %}
            <div class="principal__caixa">
                <div class="principal__artigo">
                    <img class="artigo__imagem" src="{{evento.img.url}}" alt="imagem do evento cadastrado">
                    <div class="artigo__caixa">
                        <h3 class="artigo__titulo">{{evento.nome_evento}}</h3>
                        <p class="artigo__paragrafo">
                            <span class="paragrafo--bold"> Empresa reesponsavel: {{evento.nome_empresa}} </span> 
                        </p>
                        {% if user.groups.all.0.name == 'Empresa' or user.groups.all.0.name == 'ADM'%}
                            {% if evento.publicar == 'Publicado'%}
                                <p class="artigo__paragrafo">
                                    <span style="color: green;" class="paragrafo--bold"> Status: {{evento.publicar}} </span> 
                                </p>
                            {% else %}
                                <p class="artigo__paragrafo">
                                    <span style="color: red;" class="paragrafo--bold"> Status: {{evento.publicar}} </span> 
                                </p>
                            {% endif %}
                        {% endif %}
                        <div class="artigo__icons">
                            <div class="icons">
                                <i class="fa-solid fa-calendar-days"></i>
                                <span class="icons_text"> {{evento.data_inicio}} </span>
                            </div>
                        </div>
                        <hr>

                        <!-- Button trigger modal -->
                        <div class="button--saiba">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal">
                                Saiba mais
                            </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{evento.nome_evento}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        {{evento.descricao}}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal"> Fechar </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div style="margin-left: 45%; margin-bottom: 5%;" class="pagination">
            <span class="step-links">
                {% if eventos.has_previous %}
                    <a href="?page={{ eventos.previous_page_number }}">Anterior</a>
                {% endif %}
            
                <span class="current">
                    {{ eventos.number }} de {{ eventos.paginator.num_pages }}
                </span>
            
                {% if eventos.has_next %}
                    <a href="?page={{ eventos.next_page_number }}">Próxima</a>
                {% endif %}
            </span>
        </div>
    </main>
    

    <footer class="wrapper-footer">
        <div class="wrapper-footer__info">
            <img src="{% static 'assets/img/NINNA CINZA (1).png' %}" alt="Logo Ninna hub">
            <div class="wrapper-footer__info--geral">
                <ul class="info--localizacao__list">
                    <li class="info--localizacao__item">
                        Av. Dom Manuel, 1020 - Centro, Fortaleza - CE, 60060-090
                    </li>
                    <li class="info--localizacao__item">
                        (85) 3211-4201
                    </li>
                </ul>
            </div>
            <!-- <div class="wrapper-footer__info--sociais">
                <ul class="info--sociais__list">
                    <li class="info--sociais__item">Instagram</li>
                    <li class="info--sociais__item">Youtube</li>
                    <li class="info--sociais__item">LinkedIn</li>
                </ul>
            </div> -->
        </div>

        <div class="wrapper-footer__copyright">
            Todos os direitos reservados &copy; 2022
        </div>
    </footer>
{% endblock %}
    