{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Email</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
        body{
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }
        .content{
            width: 282px;
            height: 400px;
        }
        form{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="content">
        <h2>Enviar Email</h2>
        <form action="{% url 'enviar' %}" method="POST">
            {% csrf_token %}
            <label for="destinatario1">destinatario1</label>
            <input type="email" name="destinatario1" id="des">
            <label for="destinatario2">destinatario2</label>
            <input type="email" name="destinatario2" id="des">
            <label for="destinatario3">destinatario3</label>
            <input type="email" name="destinatario3" id="des">
            <label for="assunto">assunto</label>
            <input type="text" name="assunto">
            <label for="mensagem">mensagem</label>
            <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
            <input type="submit">
        </form>
    </div>
    <div class="content">
        <h2>Enviar Email para Todos</h2>
        <form action="{% url 'enviar_todos' %}" method="POST">
            {% csrf_token %}
            <label for="assunto">assunto</label>
            <input type="text" name="assunto">
            <label for="mensagem">mensagem</label>
            <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
            <input type="submit">
        </form>
    </div>
</body>
</html>