{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NINNA LOGIN</title>

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
</head>
<body>
    
    <div class="wrapper-login">
        <form action="" class="wrapper-login__form" method="post">
            {% csrf_token %}
            <img src="{% static 'assets/img/NINNA AZUL (1).png' %}" alt="" class="wrapper-login__form--logo">
            {% include 'messages/alertas.html' %}
            <div class="wrapper-login__form--user">
                <label for="user">Email</label>
                <input style="border-radius: 10px;" type="text" name="username" class="form-input input-user" id="user">
            </div>

            <div class="wrapper-login__form--password">
                <label for="password">Senha</label>
                <input style="border-radius: 10px;" type="password" name="senha" class="form-input input-password" id="password">
            </div>

            <div class="wrapper-login__form--button">
                <button style="border-radius: 10px;" type="submit" class="form-submit">Entrar</button>
            </div>

            <div class="wrapper-login__form--password--request">
                <a href="{% url 'cadastro' %}">É novo por aqui? Clique aqui</a>
                <a href="{% url 'cadastro_empresa' %}">É uma Empresa ou Admin? Clique aqui</a>
            </div>
        </form>
    </div>
</body>
</html>