{% load static %}

    <div class="menu">
        
        <nav class="navegacao">
            {% if user.is_authenticated %}

            {% if user.groups.all.0.name == 'ADM' %}
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'cadastrar_eventos' %}">Criar Evento</a>
                    <a href="{% url 'tela_adm' %}">Administração</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><img src="../templates/static/assets/img/pinguim.opdownload"></summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="">Criar evento</a>
                                    <a class="details-options" href="">Eventos cadastrados</a>
                                    <a class="details-options" href="">Enviar e-mail</a>
                                </div>
                                <a id="logout-adm" href="">Sair</a>
                            </div>
                        </details>
                    </div>
                {% endif %}

                {% if user.groups.all.0.name == 'Empresa' %}
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'dashboard' %}">Meus Eventos</a>
                    <a href="{% url 'cadastrar_eventos' %}">Solicitar Evento</a>
                    <a href="{% url 'logout' %}">Logout</a>
                {% endif %}

                {% if user.groups.all.0.name == 'Usuarios Comuns' %}
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'dashboard' %}">Meus Eventos</a>
                {% endif %}
                
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            {% endif %}
        </nav>
    </div>