{% load static %}

    <div class="menu">
        
        <nav class="navegacao">
            {% if user.is_authenticated %}

            {% if user.groups.all.0.name == 'ADM' %}
                    
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-sharp fa-solid fa-user-secret fa-2xl"></i> {{user.username}}</summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'tela_adm' %}">Administração</a>
                                    <a class="details-options" href="{% url 'cadastrar_eventos' %}">Criar jevento</a>
                                    <a class="details-options" href="{% url 'dashboard' %}">Eventos cadastrados</a>
                                    <a class="details-options" href="">Enviar e-mail</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>  
                        </details>
                    </div>
                {% endif %}

                {% if user.groups.all.0.name == 'Empresa' %}
                    
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-solid fa-user-tie fa-2xl"></i> {{user.username}}</summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'cadastrar_eventos' %}">Solicitar Evento</a>
                                    <a class="details-options" href="{% url 'dashboard' %}">Meus Eventos</a>
                                    <a class="details-options" href="">Enviar e-mail</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>
                        </details>
                    </div>
                {% endif %}

                {% if user.groups.all.0.name == 'Usuarios Comuns' %}
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-solid fa-user fa-2xl"></i> {{user.username}}</summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'dashboard' %}">Meus Eventos</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>
                        </details>
                    </div>
                {% endif %}
                
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            {% endif %}
        </nav>
    </div>