{% load static %}

    <div class="menu">
        
        <nav class="navegacao">
            {% if user.is_authenticated %}

            {% if user.groups.all.0.name == 'ADM' %}
                    
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-sharp fa-solid fa-user-secret fa-2xl"></i> {{user.username}}/{{user.groups.all.0.name}}</summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'tela_adm' %}">Administração</a>
                                    <a class="details-options" href="{% url 'cadastrar_eventos' %}">Criar evento</a>
                                    <a class="details-options" href="{% url 'dashboard' %}">Eventos cadastrados</a>
                                    <a class="details-options" href="{% url 'email' 'all' %}">Enviar e-mail</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>  
                        </details>
                    </div>
                {% endif %}

                {% if user.groups.all.0.name == 'Empresa'%}
                    
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-solid fa-user-tie fa-2xl"></i> <p style="margin-top: 5px;">{{user.username}}/{{user.groups.all.0.name}}</p></summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'cadastrar_eventos' %}">Solicitar Evento</a>
                                    <a class="details-options" href="{% url 'dashboard' %}">Meus Eventos</a>
                                    <a class="details-options" href="{% url 'email' 'all' %}">Enviar e-mail</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>
                        </details>
                    </div>
                {% endif %}

                

                {% if user.groups.all.0.name == 'Usuarios Comuns' or user.groups.all.0.name == 'Mantenedores' %}
                    <div class="menu-hambuguer">
                        <details class="details-menu-adm">
                            <summary class="img-perfil"><i class="fa-solid fa-user fa-2xl"></i><p style="margin-top: 5px;">{{user.username}}/{{user.groups.all.0.name}}</p></summary>
                            <div class="container__links-details">
                                <div class="links-details">
                                    <a class="details-options" href="{% url 'dashboard' %}">Eventos Inscritos</a>
                                </div>
                                <a id="logout-adm" href="{% url 'logout' %}">Sair</a>
                            </div>
                        </details>
                    </div>
                {% endif %}


                
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            {% endif %}
        </nav>
    </div>