{% load static %}
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Selecione</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn-visualizar btn-modal">Visualizar <i class="fa-solid fa-eye"></i></button>
        <button class="btn-pdf btn-modal">Baixar <i class="fa-solid fa-file-pdf"></i></button>
      </div>
    </div>
  </div>
</div> 
  <script src="{% static 'bootstrap-5.2.2-dist/js/bootstrap.min.js' %}"></script>