
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/saibaMais.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsivo.css' %}">
    <title>NINNA || SAIBA MAIS</title>
</head>

<body>
   
        <div class="menu">
          <img src="{% static 'assets/img/NINNA CINZA (1).png' %}" class="hero-logo" alt=""> 
          
           
          {% include 'menu.html' %}
        </div>
      
    <main>
        

        <section class="conteudo_saiba-mais">
            <!--imagem-->
            {% for evento in eventos %}
                <img style="margin-top: 50px; width: 90%; object-fit: contain;" src="{{evento.img.url}}" alt="palestra">

                <!--nome-do-evento-->
                <h1> {{evento.nome_evento}} </h1>

                <!---textos-->
                <div class="empresa_saiba-mais">
                    <p> Empresa Representante: {{evento.nome_empresa}} </p>
                    <p> Quantidade de pessoas programadas: {{evento.convidados_qtd}} </p>
                    <p> Horário previsto para o início: {{evento.data_inicio}} </p>
                </div>

                <div class="ph_saiba-mais">
                    
                </div>

                <!--descrição-do-evento-->
                <div class="descricao_saiba-mais">
                    <h5> Descrição do evento: </h5>
                    <p>{{evento.descricao}}</p>
                </div>
                {% if inscritos %}
                <div class="empresa_saiba-mais">
                    <p> Inscritos no evento: 
                        {% for inscrito in inscritos %}
                        {{inscrito.inscrito}}
                        {% endfor%}
                    </p>
                </div>
                {% else %}
                {% endif %}
            {% endfor %}
        </section>

        <div class="sair_saiba-mais">
            <button class="">
                <a href="{% url 'index' %}"> Sair </a>
            </button>
        </div>
    </main>

    <footer class="rodape_saiba-mais">
        <p class=""> &copy; Todos os direitos reservados a NINNA Hub - 2022 </p>
    </footer>
</body>

</html>