<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        {% for evento in eventos %}
        <div class="modal-content">
          
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel"> {{evento.nome_evento}} </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
                <div class="modal_img">
                    <span><img src="{{evento.img.url}}"></span>
                </div>
                
                <div class="modal_descricao">
                    <h5> Descrição do evento </h5>
                    <div class="moda_descricão-itens">
                        <i class="fa-solid fa-check"></i>
                        <p><span> Nome da empresa: </span> {{evento.nome_empresa}} </p>
                    </div>
                    <div class="moda_descricão-itens">
                        <i class="fa-solid fa-check"></i>
                        <p><span> Quantidade de pessoas: </span> {{evento.convidados_qtd}} </p>
                    </div>
                    <div class="moda_descricão-itens">
                        <i class="fa-solid fa-check"></i>
                        <p><span> Horário de início: </span> {{evento.data_inicio}} </p>
                    </div>
                    <div class="modal_sobre">
                        <i class="fa-solid fa-check"></i>
                        {{evento.descricao}}
                    </div>
                </div>
          
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><a href="#"> Fechar
                    </a></button>
                <button type="button" class="btn btn-primary"> Inscreva-se </button>
            </div>
        </div>
        {% endfor %}
    </div>