{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> NINNA || ADM </title>

    
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/adm.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/modalAdm.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/inscrever-se.css' %}">

    <!-- JavaScript -->
    <script src="https://kit.fontawesome.com/dfcc59a893.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <main>
        <div class="content">
            <div class="content__perfil">
                <img src="{% static 'assets/img/pinguim.opdownload' %}" class="imagem-vaniele" alt="Vaniele brigando com o Filipe e o Kaynan so olhando!! ;-;">
                <p class="content__perfil--nome">{{user.username}}</p>
                <nav class="content__perfil--menu">
                    <a href="{% url 'index' %}"> Home </a>
                    <a href=""> Eventos </a>
                    <a href="{% url 'email' 'all' %}">Enviar Email</a>
                </nav>
            </div>

            <div class="content__mostragem">
                <div class="content__mostragem--saida">
                    <a href="{% url 'index' %}" class="x"> x </a>
                </div>

                <div class="logo__ninna">
                    <img src="{% static 'assets/img/NINNA AZUL (1).png' %}" alt="Imagem do ninna">
                </div>
                
                <div class="content__mostragem--eventos">
                    {% for evento in eventos %}
                    <div class="card-evento">
                        <p class="card-evento__nome"> {{evento.nome_evento}} ({{evento.pessoa}}) </p>
                        
                        <div class="card-evento__btn">
                            <!-- Button trigger modal -->
                            <a class="btn btn-info" href="{% url 'enviar_relatorio' evento.id %}"> Enviar elatório </a>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{evento.id}}">
                                Gerar relatório
                            </button>
                            <a class="btn btn-info" href="editar_evento/{{evento.id}}"> Editar </a>
                            <a class="btn btn-danger" href="apagar_evento/{{evento.id}}"> Excluir</a>
                            
                        </div>
                    </div>

                    <div class="modal fade" id="modal{{evento.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Selecione</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <a href="{% url 'teste3' evento.id%}"><button class="btn-visualizar btn-modal">Baixar<i style="margin-left: 20px;" class="fa-solid fa-file-pdf"></i></button></a>
                              <a target="_blank" href="{% url 'teste' evento.id%}"><button class="btn-pdf btn-modal">Visualizar <i style="margin-left: 15px;" class="fa-solid fa-eye"></i></button></a>
                            </div>
                          </div>
                        </div>
                    </div> 
                    {% endfor %}

                </div>
                
                
                
        </div>
    </main> 
    <script src="{% static 'bootstrap-5.2.0-dist/js/bootstrap.min.js' %}"></script>
</body>

</html>