{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>Relatorio // {{eventos.nome_evento}}</title>
        <link rel="stylesheet" href="templates/static/assets\css\css_relatorios.css">

        <link rel="stylesheet" href="templates/static\assets\css\fontawesome-free-6.2.0-web\fontawesome-free-6.2.0-web/css/fontawesome.min.css">
    </head>
    <body>
        <header>
            <img src="static/assets/img/teste pra ver se funciona.png" class="logo">
        </header>
            <h2 class="relatorio">Relatorio</h2>
            <hr>
            <div class="conteiner">
                <h4>Nome Evento : {{eventos.nome_evento}}</h4>
                <hr>
                <h4>Descriçao do Evento : {{eventos.descricao}}</h4>
                <hr>
                <h4>Tipo : {{eventos.publico}}</h4>
                <hr>
                    <div class="inicio">
                        <h4>Inicio : {{eventos.data_inicio}}</h4>
                        <hr>
                        <h4>Termino : {{eventos.data_termino}}</h4>
                        <hr>
                    </div>
                <h4>Grupo : {{ eventos.grupo }}</h4>
                <hr>
                <h4>Total de Inscritos no Evento : {{ as }}</h4>
                <hr>
            </div>
            {% if inscritos %}
                <table class="tabela">
                    <tr>
                        <th>NOME</th>
                        <th>E-MAIL</th>
                    </tr>
                    {% for inscrito in inscritos %}
                        <tr>
                            <td>{{inscrito.inscrito}}</td>
                            <td>{{inscrito.email}}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            {% endif %}
    </div>
        </div>
    </body>
</html>